<%# banner %>
<div>
  <div class='banner profile-banner' style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.mos.cms.futurecdn.net/RT5MccvxwUFJdEWt5dT49Y.jpg);">
  </div>
  <%= image_tag "tribore.jpg", class: "profile-avatar" %>
</div>

<%# bookings %>
<div class='container flex-row justify-content-between'>
  <div class='row'>
    <%# my rides %>
    <div class='col-lg-6'>
      <h1>My rides</h1>
          <div class="ride">
            <% if @rides.exists? %>
              <% @rides.each do|ride| %>
                <p>
                  <%= ride.title %>
                </p>
                <% if ride.bookings.where(status: "pending") == 0 %>
                  <%= link_to "Bookings",ride_bookings_path(ride) %>
                <% else %>
                  <%= link_to "Bookings",ride_bookings_path(ride) %>You have <%= ride.bookings.where(status: "pending").count %> pending booking request(s)
                <% end %>
                <% if ride.photo.attached? %>
                  <%= cl_image_tag ride.photo.key, height: 200, width: 400, crop: :fill %>
                <% end %>
              <% end %>
            <% else %>
              <p>You haven't created any rides yet</p>
              <%= link_to "Create a ride now!", new_ride_path, class:'btn custom-btn-light' %>
            <% end %>
        </div>

    <%# my ride requests %>
    <div class='col-lg-6'>
      <h1>My ride requests</h1>
      <% if @bookings.exists?  %>
        <% @bookings.each do |booking| %>
          <h5><%= booking.ride.title %></h5>
          <p class='mx-4'><%= booking.status %></p>
          <% if booking.status != "confirmed"%>
            <%= link_to 'Cancel this booking', booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class:'btn custom-btn-light' %>
          <% end %>
        <% end %>
      <% else %>
        <p>You haven't requested any rides yet</p>
        <%= link_to "Find your next ride", rides_path, class:'btn custom-btn-dark' %>
      <% end %>
    </div>
  </div>
</div>
