<%# banner %>
<div>
  <div class='banner profile-banner' style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.mos.cms.futurecdn.net/RT5MccvxwUFJdEWt5dT49Y.jpg);">
  </div>
  <%= image_tag "tribore.jpg", class: "profile-avatar" %>
</div>

<%# bookings %>
<div class='container justify-content-between'>
  <div class='row'>
    <%# my rides %>
    <div class='col-sm p-0'>
      <div class='row pos-rel'>
        <div class='col-sm-6'>
          <h1>My rides</h1>
        </div>
        <div class='col-sm-6 pos-abs-bottom'>
          <%= link_to "Create a ride now!", new_ride_path if @rides.exists? %>
        </div>
      </div>
      <div class="profile-cards-grid">
        <% if @rides.exists? %>
          <% @rides.each do |ride| %>
            <div class="ride-card-category"
                  style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                  url('<%= cl_image_path ride.photo.key if ride.photo.attached?%>')">
              <div class="profile-small-card">
                <div><p><%= ride.title %></p></div>
                <% if ride.bookings.where(status: "pending").count == 0 %>
                  <div><p><%= link_to "See bookings", ride_bookings_path(ride) %></p></div>
                <% else %>
                  <div><p><%= link_to "See bookings", ride_bookings_path(ride) %></p>
                  <p class='txt-smaller'>You have <%= ride.bookings.where(status: "pending").count %> pending booking request(s)</p></div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You haven't created any rides yet</p>
          <%= link_to "Create a ride now!", new_ride_path, class:'btn custom-btn-light' %>
        <% end %>
      </div>
    </div>

    <%# my ride requests %>
    <div class='col-sm p-0'>
      <h1>My ride requests</h1>
      <% if @bookings.exists?  %>
        <% @bookings.each do |booking| %>
          <h5><%= booking.ride.title %></h5>
          <p class='mx-4'><%= booking.status %></p>
          <% if booking.status != "confirmed"%>
            <%= link_to 'Cancel this booking', booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class:'btn custom-btn-light' %>
          <% end %>
        <% end %>
      <% else %>
        <p>You haven't requested any rides yet</p>
        <%= link_to "Find your next ride", rides_path, class:'btn custom-btn-dark' %>
      <% end %>
    </div>
  </div>
</div>
