<div class='container'>
<h1>Edit your ride</h1>
  <%= simple_form_for @ride do |f| %>
    <%= f.input :title %>
    <%= f.input :starting_point %>
    <%= f.input :destination %>
    <%= f.input :photo, as: :file %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :duration %>
    <%= f.input :seats %>
    <%= f.input :ride_date %>
    <%= f.input :food_and_drinks, as: :boolean %>
    <%= f.input :entertainment, as: :boolean %>
    <%= f.input :magic, as: :boolean %>
    <%= f.submit %>

  <% end %>
</div>
