
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Find your perfect Ride</h1>
    <p>And go whereever your Heart graves to</p>
  </div>
</div>

<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />

<% @rides.each do |ride| %>
  <p>
    <%= ride.title %>
    <%= ride.price %>
    <%= ride.starting_point %>
    <%= ride.destination %>
    <%= ride.seats %>
    <%= link_to "Delete this ride", ride_path(ride),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: 'btn btn-danger' %>
  </p>
<% end %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Thanks for riding with us <i class="fas fa-heart"></i>
  </div>
</div>
