
<div class="container">
  <h1 class="text-center">Find your fabulous ride</h1>
    <div class="cards">
      <% @rides.each do |ride| %>
        <div class="card-category">
          <img src= "<%=ride.image_url%>" >
          <div class="m-3">
          <h4><%= ride.title %></h4>
          <p><strong>Price: </strong><%= ride.price %>€</p>
          <p><strong>Origin: </strong><%= ride.starting_point %></p>
          <p><strong>Destination: </strong><%= ride.destination %></p>
          <p><strong>Seats: </strong><%= ride.seats %></p>
          <div>
            <%=link_to "Details", ride_path(ride), class:"text-decoration-none" %></div>
          </div>
        </div>
      <% end %>
    </div>

  <div class='container container-index'>
    <%= link_to "Create a new ride!", new_ride_path, class:'custom-btn-dark btn-index'%>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Thanks for riding with us <i class="fas fa-heart"></i>
  </div>
</div>
