
<div class="container">
  <h2 class="text-center">Find your fabulous ride</h2>
    <div class="cards">
      <% @rides.each do |ride| %>
        <div class="card-category">
          <%= ride.title %>
          <%= ride.price %>
          <%= ride.starting_point %>
          <%= ride.destination %>
          <%= ride.seats %>
            <div><%= link_to "Delete", ride_path(ride),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none" %>
            </div>
        </div>
      <% end %>
    </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Thanks for riding with us <i class="fas fa-heart"></i>
  </div>
</div>
