
<div class="container">
  <h1 class="text-center">Find your fabulous ride</h1>
    <div class="cards">
      <% @rides.each do |ride| %>
        <%=link_to ride_path(ride) do %>
          <div class="ride-card-category"
          style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= cl_image_path ride.photo.key if ride.photo.attached?%>')">
            <div class="small-card">
              <p><%= ride.title %><br>
              Starting point: <%= ride.starting_point.capitalize %><br>
              Destination: <%= ride.destination.capitalize %><br>
              Price: <%= ride.price%><br>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  <div class='container container-index'>
    <%= link_to "Create a new ride!", new_ride_path, class:'custom-btn-dark btn-index'%>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Thanks for riding with us <i class="fas fa-heart"></i>
  </div>
</div>
