<div class="container">
<div class = "card-content">

  <h2><%= @ride.title %></h2>
  <div class="img">
    <img src= "<%=@ride.image_url%>" >
  </div>
  <div class = "ride-content">
    <ul>

    <p>
    <%= @ride.description %>
    </p>
    <li><p>Origin : <%= @ride.starting_point %></p></li>
    <li><p>Destination: <%= @ride.destination %></p></li>
    <li><p>Price: <%= @ride.price %></p></li>
    <li><p><%= @ride.duration%></p></li>
    <li><p>Seats: <%= @ride.seats %></p></li>
  </ul>
  </div>
  </div>

<div class="create_booking">
<%= simple_form_for [@ride, @booking] do |f| %>

<%= f.submit  %>
<% end %>
</div>

<p>
<%= link_to "Back to the rides",rides_path%>
</p>
<p>
<%= link_to "Update this ride", edit_ride_path(@ride) %>
</p>
</div>
